 	/*MENU */
 ol li{ 
	display: inline;
	padding: 0px 25px 0px 25px;
	border-left: solid 1px gray;
	}


 a {
	text-decoration: none;
 }

.menu-fixed {
	position: fixed;
	z-index: 1000;
	margin-top: 40px;
	width: 100%;
	max-width: 1200px;
	padding: 12px;
	background-color: #fff;
	opacity: .8;
}

 /*LOGO*/
.logo { 
	height: 120px;
	width: 130px;
	margin-left: 90px;
}

.semilla-fondo {
	background-image: url(../img/semilla.jpg);
	background-repeat: no-repeat;
	padding-top: 350px;
}

/*.semilla {
	max-width: 100%;
} 
*/

	/*TAMAÑO DE ICONOS VERDES*/
.icon { 
	height: 120px;
	width: 120px;
}

	/* TAMÑANO DE FOTOS EN METODOLOGIA */
.foto { 
	height: 500px;
	size: cover; 
}


.fondoverde {
	background-image: url(../img/fondo.jpg);
}


	/*SECCION PROYECTOS*/
.foto-2 { 
	width: 450px;
 	height: 300px;
 }

	/*SECCION EQUIPO*/
.foto-3 { 
	border-radius:50%;
	width: 230px;	  
	height:230px;	  
	margin-bottom: 30px;
}

#icon-peque { 
	width: 30px;
	height: 30px;
	margin-top: 4	0px;
	margin-left: 10px;

}

	/* BLOG */
.fondo-blog{
	background-image: url(../img/fondo2.jpg);
}

.foto-4 { 
	width: 310px;
	height: 210px;
}

/*
.flecha-der {
	background-image: url(../img/iconos/slider/ecomunidad-15.png);
	background-repeat: no-repeat;
	width: 1px;
	height: 1px;
	float: left;
}
*/
	/*REDES SOCIALES*/
.zoom-ima {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.zoom-ima:hover {
	height: 260px;
	width: 260px;
	margin-left: -10px;
}

.cuadro { 
	border: 2px solid #fff;
	height: 220px !important;
}

.redes {
	margin-left: 160px;
	margin-top: 100px;
}

	/*ExTRAS*/
.top {
	margin-top: 70px;
}

.p-left {
	padding-left: 100px;
}


.font14 {
	font-size: 14px;
}

.font12 {
	font-size: 12px;
}